body, html{
  margin: 0;
  padding: 0;
}

html, body, #root, #app, #app>div {
  height: 100%
}

a {
  text-decoration: none;
}

.sws-container {
  max-width: 1080px; 
  width: 90%; 
  margin: 50px auto;
}