html,
body,
#root,
.App,
.wrapper {
  height: 100%;
}

.checkbox {
  position: absolute;
  opacity: 0;
  top: -1000px;
}

.label {
  background: #000;
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  padding: 0.1rem;

  cursor: pointer;
}

.ball {
  position: absolute;
  background: #fff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.checkbox:checked + .label .ball {
  transform: translateX(27px);
}
